{
    "extends": "airbnb",

    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "max-len": [2, 140, 2],
        "react/jsx-indent-props": [2, 4],

        // eslint fails on this (although it shouldn't)
        "react/require-render-return": [0]
    }
}
